.about-container {
  text-align: center;
  padding: 20px;
}

.about-content {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 20px;
  margin-bottom: 2%;
}

.about-bio {
  text-align: left;
  flex: 1;
  max-width: 600px;
  margin-left: 10%; 
}

.about-bio h1 {
  text-align: center;
  margin: 0; 
  padding: 0; 
}

.about-bio p {
  line-height: 1.6;
  font-size: 1.1em;
  margin-bottom: 10%px;

}

.about-image {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-left: 10%;
}

.bio-image {
  border: 5px solid #fff; 
  border-radius: 10px;
  height: 400px; 
  width: auto; 
  object-fit: cover; 
  margin-bottom: 10%;
}
