
.small-paragraph {
    font-size: 20px; 
    color: #0ddd9b; 
    line-height: 1.5; 
    margin: 10px 0; 
    font-family: cursive;
    letter-spacing: 3px;
    padding-top: 20px;
    margin-left: 8%;
  }
  