
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth; 
  background-color: #1e1e1e;
  color: aliceblue; 
}

#home {
  height: 100vh;  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e; 
}

.about {
  padding: 50px 20px;
  background-color: #1e1e1e; 
  min-height: 100vh;  
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
}

h1 {
  line-height: 70px;
  letter-spacing: 3px;
  width: 55%;
  font-size: 70px;
  margin: 0;
  font-variant: small-caps;
}

.home-logo {
  width: 400px;
  height: 400px;
  margin-left: 20px;
}

p {
  width: 50%;
  margin-left: 8%;
}

hr {
  width: 50%;
  margin: 20px 0;
  border: 1px solid #ccc;
  margin-left: 8%;
}
